.header {
  background: transparent;
  margin: 40px 20px;

  &__headerItems {
    display: flex;
    flex-direction: row;
    color: white;
    list-style-type: none;
    width: 100%;

    justify-items: first baseline;
    justify-content: space-between;

    &__burgerButton {
      align-self: flex-start;
      width: 24px;
      height: 24px;
    }

    &__logo {
      align-self: center;
      text-align: left;
      margin: 0 auto;
      padding-right: 2ch;
      color: var(--white, #fff);
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: 34px;
    }
  }
}
