.sortModal {
  display: flex;
  position: fixed;
  z-index: 999;
  bottom: 0;
  width: 100%;
  height: 'max-content';
  background-color: white;
  flex-direction: column;
  box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 24px 24px 0px 0px;
}

.sortModalSubContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  padding: 0rem 1rem;

  &__innerContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 0.9rem;

    &__quarterVerticalLine {
      border: 1px solid rgba(0, 0, 0, 0.3);
      width: 25px;
      margin-bottom: 0.5rem;
    }
  }

  &__closeButtonContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0rem 1rem;

    div {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      background-color: #8f8f8f4d;
      border-radius: 75%;
    }
  }

  &__headingContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0rem 1rem;

    p {
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #000000;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0rem 0.5rem;
    &__radioContainer {
      margin: 0.8rem 0rem;
      padding: 0rem 0.5rem;

      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        color: black;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;

        input {
          color-scheme: light;
          accent-color: black;
        }
      }
    }

    &__verticalLine {
      border: 1px solid rgba(143, 143, 143, 0.3);
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
