.container {
  position: absolute;
  top: 95%;
  left: 50%; /* Always center horizontally */
  transform: translate(-50%, -50%);
  display: flex;
  width: 76px;
  height: 12px;
  padding: 2px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.6);

  &__dots {
    display: flex;
    align-items: center;
    gap: 6px;

    &__dot {
      display: flex;
      align-items: center;
      color: rgba(255, 255, 255, 0.5); // Default dot color
      transition: color 0.3s ease; // Smooth transition for hover effect

      &:hover {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.85); // Hover color closer to white
      }

      svg {
        width: 8px;
        height: 8px;
      }

    //   @media (min-width: 768px) {
    //     width: 12px;
    //     height: 12px;
    //   }
    }

    &__activeDot {
      display: flex;
      align-items: center;
      color: white; // Default dot color
      transition: color 0.3s ease;

      svg {
        width: 8px;
        height: 8px;
      }

    //   @media (min-width: 768px) {
    //     width: 12px;
    //     height: 12px;
    //   }
    }
  }
}
