.popularListing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 12px;
  box-shadow: 3px 3px 6px 0px rgba(213, 213, 213, 0.25);
  background: #fff;
  scroll-snap-align: center;
  width: 330px;

  @media screen and (min-width: 801px) {
    flex-basis: 30%;
    gap: 35px;
  }

  &:nth-child(1) {
    margin-left: 10px;

    @media screen and (min-width: 801px) {
      margin-left: 0px;
    }
  }

  &:last-child {
    margin-right: 10px;

    @media screen and (min-width: 801px) {
      margin-right: 0px;
    }
  }

  &__image {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 300px;
    /* width: 390px; */
    /* height: 358px; */

    @media screen and (min-width: 801px) {
      width: 100%;
      height: 417px;
    }
  }

  &__title {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    padding-left: 12px;
  }

  &__details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 6px;
    column-gap: 6px;
    padding-left: 12px;

    &__detail {
      display: flex;
      flex-direction: row;
      gap: 4px;
      align-items: end;
      flex-basis: 33%;

      &:nth-child(2) {
        flex-basis: 50%;
      }

      & > p {
        color: #000;
        font-family: Lato;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
      }
    }

    &__lowestOffer {
      flex-basis: 70%;
      color: #000;
      padding-top: 8px;
      padding-bottom: 18px;
      font-family: Lato;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 30px; /* 150% */
    }
  }
}
