.container {
    padding: 1rem 4rem;

    &__sortFields {
        display: none;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;

        &__upperSection {
            display: grid;
            grid-template-columns: 49% 49%;
            gap: 1rem;

            
            @media (min-width: 1920px) {
                width: 24%;
                grid-template-columns: 50% 50%;
                gap: 0;
            }
        }

        &__lowerSection {
            display: grid;
            grid-template-columns: 49% 49%;
            gap: 1rem;

            
            @media (min-width: 1920px) {
                grid-template-columns: 43% 43% 30% 30%;
                gap: 2rem;
            }
        }

        &__results {
            display: inline-flex;
            align-items: center;
            gap: 9px;
            color: #000000;

            &__resultsFound {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--black, #000);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
                /* 162.5% */
            }

            &__icon {
                width: 1px;
                height: 24px;
            }

            &__sortBy {
                color: var(--black, #000);
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }

        &__date,
        &__stay,
        &__location,
        &__priceFrom,
        &__priceTo {
            position: relative;
            appearance: none;
            display: flex;
            padding: 11px 16px;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;
            border-radius: 8px;
            border: 1.5px solid var(--black-30, rgba(0, 0, 0, 0.30));
            background: var(--White, #FFF);
        }

        &__date {
            position: relative;
            color: black;

            &__text {
                font-family: Lato;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                /* 112.5% */
                letter-spacing: 0.32px;
            }

            &__arrowIcon {
                position: absolute;
                top: 29.25rem;
                right: 4.5rem;
                transform: translateY(-50%);
                pointer-events: none;
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                color: black;

                @media (min-width: 1200px){
                    right: 5.5rem;
                }

                @media (min-width: 1920px){
                    right: 9.5rem;
                }
            }
        }

        &__stay,
        &__location {
            color: var(--black-30, rgba(0, 0, 0, 0.30));
            width: 100%;

            &__text {
                color: var(--black-30, rgba(0, 0, 0, 0.30));
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                /* 112.5% */
                letter-spacing: 0.32px;
            }
        }

        &__stay { 
            &__arrowIcon {
                position: absolute;
                top: 33.15rem;
                right: 52%;
                transform: translateY(-50%);
                pointer-events: none;
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                color: black;


                @media (min-width: 1920px){
                    top: 29.15rem;
                    right: 77.75%;
                }
            }
        }

        &__location {
            &__arrowIcon {
                position: absolute;
                top: 33.15rem;
                right: 9.25%;
                transform: translateY(-50%);
                pointer-events: none;
                display: flex;
                width: 24px;
                height: 24px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                color: black;

                @media (min-width: 800px){
                    right: 8.25%;
                }

                @media (min-width: 950px){
                    right: 7.25%;
                }

                @media (min-width: 1050px){
                    right: 6.25%;
                }

                @media (min-width: 1150px){
                    right: 7%;
                }


                @media (min-width: 1350px){
                    right: 6%;
                }

                @media (min-width: 1550px){
                    right: 5.5%;
                }

                @media (min-width: 1750px){
                    right: 5%;
                }

                @media (min-width: 1920px){
                    top: 29.15rem;
                    right: 61%;
                }
            }

            @media (min-width: 1000px){
                right: 7.25%;
                margin-left: 2rem;
            }

            @media (min-width: 1014px){
                margin-left: 7.75%;
            }
        }

        &__priceFrom {
            color: var(--black-30, rgba(0, 0, 0, 0.30));
            width: 100%;

            &__priceIcon {
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                position: absolute;
                top: 35.75rem;
                right: 52%;

                
            @media (min-width: 1920px){
                top: 28.5rem;
                right: 48.75%;
            }
            }

            ::placeholder {
                color: var(--black-30, rgba(0, 0, 0, 0.30));
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                /* 112.5% */
                letter-spacing: 0.32px;
            }
        }

        &__priceTo {
            color: var(--black-30, rgba(0, 0, 0, 0.30));
            width: 100%;

            &__priceIcon {
                position: absolute;
                width: 24px;
                height: 24px;
                flex-shrink: 0;
                position: absolute;
                top: 35.75rem;
                right: 9%;

                @media (min-width: 800px){
                    right: 8%;
                }

                @media (min-width: 950px){
                    right: 7.5%;
                }

                @media (min-width: 1050px){
                    right: 7%;
                }

                @media (min-width: 1150px){
                    right: 6.5%;
                }


                // @media (min-width: 1350px){
                //     right: 6.75%;
                // }

                @media (min-width: 1500px){
                    right: 6%;
                }

                @media (min-width: 1750px){
                    right: 5.75%;
                }

                @media (min-width: 1920px){
                    top: 28.5rem;
                    right: 36.5%;
                }
            }

            ::placeholder {
                color: var(--black-30, rgba(0, 0, 0, 0.30));
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px;
                /* 112.5% */
                letter-spacing: 0.32px;
            }
        }



        @media (min-width: 768px) {
            display: flex;
        }

        @media (min-width: 1920px) {
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }
    @media (min-width: 1920px) {
        padding: 1rem 9rem 1rem 9.25rem;
    }
}