.background {
  background: var(--light-grey, #f6f6f6);
  flex-shrink: 0;
  padding: 1.5rem 1rem 4rem 1rem;
  height: fit-content;

  &__cardsAndFilter {
    @media (min-width: 801px) {
      display: grid;
      grid-template-columns: 35% 65%;
      gap: 2rem;
    }
    @media (min-width: 1920px) {
      display: grid;
      grid-template-columns: 35% 65%;
      gap: 5rem;
    }
  }

  &__filterContainer {
    display: none;
    padding: 34px 20px;
    justify-content: space-between;
    border-radius: 16px;
    border: 1px solid var(--black-30, rgba(0, 0, 0, 0.3));
    height: max-content;

    &__filter {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // gap: 45px;
      width: 100%;
    }

    @media (min-width: 801px) {
      display: inline-flex;
    }
  }

  &__resultsNumber {
    color: var(--black, #000);
    // font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    margin: 0 0 1rem 0;

    @media (min-width: 801px) {
      display: none;
    }
  }

  &__cards {
    display: grid;
    gap: 2%;

    grid-template-columns: 100%;

    @media (min-width: 768px) and (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 801px) {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 92.5%;
    }
  }

  @media (min-width: 768px) {
    padding: 1.5rem 4rem 4rem 4rem;
    background-color: white;
  }

  @media (min-width: 801px) and (max-width: 901px) {
    padding: 1.5rem 1rem 4rem 1rem;
  }

  @media (min-width: 901px) and (max-width: 1001px) {
    padding: 1.5rem 4rem 4rem 4rem;
  }

  @media (min-width: 1001px) {
    padding: 1.5rem 6rem 4rem 6rem;
  }

  @media (min-width: 1101px) {
    padding: 1.5rem 8rem 4rem 8rem;
  }

  @media (min-width: 1220px) {
    padding: 1.5rem 9rem 4rem 9rem;
  }
}
.horizontalLine {
  display: block;
  width: 100%; /* Ensure it spans the width */
  height: 1px;
  background-color: rgba(143, 143, 143, 0.3); /* Or any desired color */
  margin-top: 45px;
  margin-bottom: 9px;
}
